* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --primary-color: red;
}
.bg-grey{
  background-color: #f7f7f7;
}
img{
  display: block;
  width: 100%;
}

/* Phần banner */

.banner-text{
  background-image: url('../images/anhbia.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
}

/* Phần navbar */
.name{
  width: 200px;
}
.avatar{
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar img{
  border: 10px solid white;
}

#navbar a{
  padding: 30px 10px;
  border-left: 1px solid var(--bs-border-color);
}
#navbar a:nth-child(2), #navbar a:nth-child(5){
  border-right: 1px solid var(--bs-border-color);
}

/* Phaafn job */
.recent{
  background-color: var(--bs-primary);
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
}
.hobby-item i {
  width:50px;
  height: 50px;
  border: 1px solid ;
  color: var(--bs-primary);
  border-radius: 50%;
  line-height: 50px;
  margin-bottom: 10px;
}
.active{
  background-color: var(--bs-primary);
  height: 4px;
}
.inactive{
  background-color: var(--bs-secondary);
  height: 4px;
}

/* Phan chung chi */
@media (min-width: 768px) {
 .vline-md {
   position: relative;
 }
 .vline-md::after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 50%;
   width: 1px;
   background: orange;
   transform: translateX(-.5px);
 }
 .divider-md {
   display: none;
 }
}
.divider {
 height: 1px;
 background: orange;
 margin-block: 2rem;
}
/* Phan du an */

.project-name a{
  color: black;
}
.project-name a:hover{
  color: var(--bs-primary);
  transition: all 0.5s;
}
.project-description td {
  border-bottom: 1px solid var(--bs-border-color);
  padding: 10px;
}
.project-description td:first-child {
  width: 30%;
}
.project-description tr:last-child td {
  border-bottom: none;
}
.time-line .year {
  padding: 0px 20px;
  font-size: 0.9rem;
  background-color: var(--bs-primary);
  border-radius: 20px;
}
.info-group {
  display:none
}
.message {
color: gray;
font-size: 0.75em;
}
.info-group .close-btn {
cursor: pointer;
width: 30px;
height: 30px;
color: white;
right: 0px;
top: 0px;
background-color: var(--bs-primary);

}
.job-content {
  display: none;
}
.job-footer {
    display: none;
}
.job-item .card:hover {
padding-bottom: 50px !important;
transition: all 0.5s;
}
.job-item .card:hover .job-footer {
display: block;
position:absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
}